
  .header{

  width: 100%;
  background-color: #08080804;
  background-position: center;
  background-size: cover;
  position: relative;
  }
  nav{
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;

  }
  nav img{
  width: 200px;
  }
  .nav_links{
  flex: 1;
  text-align: right;
  }
  .nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  }
  .nav_links ul li a{
  color: #7d5a57;
  font-size: large;
  text-decoration: none;
  }
   .nav_links ul li a:hover{
  color: #0088a9;
  }

  .nav_links ul li :hover::after{
  width: 100%;
  }
  button {
  padding: 9px 25px;
  background-color: #ff3c80;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: #ff3c80;
}
@keyframes replace {
  0% {visibility: visible;}
  15% {visibility: hidden;}
  84% {visibility:hidden;}
  85% {visibility: visible;}
  100% {visibility: visible;}
  }
#sponge{
  width:250px;
  left: 20px;
  position: absolute;
}
#sponge1{
  width:250px;
  left: 20px;
  transition: opacity 0.4s;
  position: absolute;
}
#sponge1:hover{
  opacity: 0; 
  position: absolute;
}
#lipstick{
  width:250px;
  position: absolute;
  left: 340px;
  
  transition: opacity 0.4s;
}
#lipstick1{
  width:250px;
  left: 340px;
  position: absolute;
}
#lipstick:hover{
  opacity: 0;
}
#pink{
  width:250px;
  left: 660px;
  position: absolute;
  
  transition: opacity 0.4s;
}
#pink1{
  width:250px;
  left: 660px;
  position: absolute;
}
#pink:hover{
  opacity: 0;
}